@page
@using ComponentsApp.App

<!DOCTYPE html>
<html>
<head>
    @functions{
        string basePath = "/";
        string framework = "_framework/components.server.js";
        string component = "";
    }
    @{
        if (Request.Query.ContainsKey("Component"))
        {
            component = Request.Query["Component"];
            framework = "/" + framework;
            basePath = "/dynamic/";
        }
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Razor Components</title>
    <base href="@basePath" />
    @if(component == "")
    {    
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="css/site.css" rel="stylesheet" />
    }
</head>
<body>
    @if (component == "HelloWorld")
    {
        <text>@(await Html.RenderComponentAsync<HelloWorld>(new { Name = "Guest" }))</text>
    }
    else
    {
        <app>Loading...</app>
    }

    <script src="@framework"></script>
</body>
</html>
