@using Microsoft.AspNetCore.Components

<p>Hello @Name</p>
@if(Message != null)
{
    <p id="message">@Message</p>
}

<button onclick="@SayHello">Say hello back!</button>

@functions{
    [Parameter] public string Name { get; set; }

    public string Message { get; set; }

    public void SayHello()
    {
        Message = "Nice to meet you " + Name;
    }
}
